.header{
    height: 18dvh;
    display: flex;
    align-items: center;
    background: var(--color-grey-chrome);
    box-shadow: 0 5px 15px;
    position: relative;
    z-index: 100;
    &__left{
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
        &--search-bar{
            background: transparent;
            border: none;
            font-size: 30px;
            cursor: pointer;
        }
        &--home{
            
        }
        &--services{
            
        }
        &--event{
            
        }
    }
    &__center{
        width: 34%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &--logo{
            height: 90%;   
            width: auto;
            object-fit: contain;
        }
    }
    &__right{
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        &--gift-card{
            
        }
        &--shopping-card{
            background: transparent;
            border: none;
            font-size: 30px;
            margin-bottom: 7px;
            cursor: pointer;
        }
    }
}

/*Styles couleurs et soulignement*/
.links{
    text-decoration: none;
    font-size: 26px;
    color: var(--color-oak-dark);
}
.links:hover{
    color: var(--color-plum);   
}
.links::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: var(--color-plum); 
    margin: 3px auto 0 auto;
    border-radius: 2px;
    transition: width 0.2s ease-in-out;
}
.links:hover::after{
    width: 100%;
    color: var(--color-plum);   
}
.links.active {
    color: var(--color-plum);
}
.links.active::after {
    width: 100%;
}

/*Annul du soulignement sur les icones*/
.header__left--search-bar::after,
.header__right--shopping-card::after {
    display: none;
}
