.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vw 0 12vw 0;
    &__title{
        margin-bottom: 50px;
    }
    &__modal-title{
        margin-top: 4vw;
    }
    &__modal-list-view{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--card{
            width: 80%;
            height: 20%;
            display: flex;
            flex-direction: column;
        }
    }
    .list-view-card-title{

    }
    .list-view-card-img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
        box-shadow: 2px 2px 5px;
    }
    .list-view-card-btn{
        align-self: center;
        
    }
    &__modal-edit-view{
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 80%; 
        &--label{            
            margin: 4vw 0 2vw 0;
        }
        &--input{
            height: 7vw;      
        }
        &--option{
            height: 8vw;
        }
        &--upload{
            width: fit-content;
        }
    }
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    box-shadow: 5px 5px 8px;
    border-radius: 8px;
    overflow: hidden;
    &__div{
        width: 100%;
        height: 60vw;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: -7vw;
        transform: scale(1.02);
        transition: all 400ms ease-in-out;
        &--text{
            position: absolute;
            color: #ffffff;
        }
        &--image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.banner__div{
    &:first-child{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
            margin-top: 0;
        }
    &:last-child{
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    }
    &:not(:first-child):not(:last-child){
        height: 65vw;
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 91%);
    }
}
.banner:hover .banner__div{
    filter: brightness(0.4); 
}
.banner:hover .banner__div:hover{
    filter: brightness(1); 
    transform: scale(1.4);
    position: relative;
    z-index: 1;
}
@media(min-width : 768px){
    .banner{
        flex-direction: row;
        width: 90%;
        height: 25vw;
        border-radius: 15px;
        &__div{
            width: 100%;
            height: 100%;
            margin-top: 0;
            margin-left: -4vw;
        }
    }
    .banner__div{
        &:first-child{
                clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
                margin-top: 0;
                margin-left: 0;
            }
        &:last-child{
            clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
        }
        &:not(:first-child):not(:last-child){
            width: 110%;
            height: 100%;
            clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
        }
    }
    .services{
        &__modal-edit-view{
            &--label{
                margin: 3vw 0 2vw 0;
            }
            &--input{
                height: 5vw;
            }
            &--option{
                height: 5vw;
            }
        }
    }       
}
@media(min-width:1024px){
    .services{
        &__modal-list-view{
            &--card{
                width: 60%;
            }
        }
        &__modal-edit-view{
            &--input{
                height: 4vw;
            }
            &--option{
                height: 4vw;
            }
        }
    }
}