.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15vw 0;
    &__title{
        margin-bottom: 50px;
    }
    &__modal-title{
        margin-top: 4vw;
    }
    &__modal-list-view{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--card{
            width: 80%;
            height: 20%;
            display: flex;
            flex-direction: column;
        }
    }
    &__modal-edit-view{
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 80%;
        &--label{
            margin: 4vw 0 2vw 0;
        }
        &--input{
            height: 7vw;
        }
        &--option{
            height: 8vw;
        }
        &--upload{
            width: fit-content;
        }
    }
}
.list-view-card-title{

}
.list-view-card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
}
.list-view-card-btn{
    align-self: center;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 214vw;
    box-shadow: 5px 5px 8px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    &__div{
        width: 100%;
        height: 60vw;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: -7vw;
        transform: scale(1.02);
        transition: all 400ms ease-in-out;
        &--text{
            position: absolute;
            color: #ffffff;
        }
        &--image{
            width: 100%;
            height: 60vw;
            object-fit: cover;
            flex-shrink: 0;
        }
        z-index: 1;
        &:first-child:not(.banner__div--expanded){
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
            margin-top: 0;
        }
        &:last-child{
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
        }
        &:not(:first-child):not(:last-child){
            height: 65vw;
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 91%);
        }
    }
    &__sous-types{
        position: absolute;
        top: -110%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 18%;
        gap: 16px;
        background: linear-gradient(to top,rgb(0, 0, 0), rgba(0, 0, 0, 0.432));
        transition: top 400ms ease-in-out;
        z-index: 50;
        &--open{
            top: 0;
            padding: 100% 0 0 0;
        }
        &--link{
            color: #ffffff;
            text-decoration: none;
            margin: 2vw 0;
        }
        &--back-btn{
            margin-top: 5vw;
            background: transparent;
            border: 1px solid #ffffff;
            color: #ffffff;
            cursor: pointer;
        }
    }
}
.banner:hover .banner__div{
    filter: brightness(0.4);
}
.banner:hover .banner__div:hover{
    filter: brightness(1);
    transform: scale(1.4);
    position: relative;
    z-index: 1;
}

@media (min-width: 768px){
    .banner{
        flex-direction: row;
        width: 90%;
        height: 25vw;
        border-radius: 15px;
        &__sous-types{
            flex-direction: row;
            justify-content: center;
            padding-top: 0;
            top: 0;
            left: -110%;
            background: linear-gradient(to left,rgb(0, 0, 0), rgba(0, 0, 0, 0.432));
            transition: left 400ms ease-in-out;
            &--open{
                top: 0;
                left: 0;
                padding-left: 8%;
            }
            &--link{
                margin: 0 3vw;
            }
            &--back-btn{
                margin: 0 3vw;
            }
        }
        &__div{
            width: 100%;
            height: 100%;
            margin-top: 0;
            margin-left: -2vw;
            &--image{
                height: 100%;
            }
            &:first-child:not(.banner__div--expanded){
                clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
                margin-top: 0;
                margin-left: 0;
            }
            &:last-child{
                clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
            }
            &:not(:first-child):not(:last-child){
                width: 110%;
                height: 100%;
                clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    }
    .services{
        padding: 10vw 0;
        &__modal-edit-view{
            &--label{
                margin: 3vw 0 2vw 0;
            }
            &--input{
                height: 5vw;
            }
            &--option{
                height: 5vw;
            }
        }
    }
}
@media (min-width: 1024px){
    .services{
        &__modal-list-view{
            &--card{
                width: 60%;
            }
        }
        &__modal-edit-view{
            &--input{
                height: 4vw;
            }
            &--option{
                height: 4vw;
            }
        }
    }
}
