.footer{
    height: 22dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: var(--color-grey-text);
    color: var(--color-background);
    font-size: 20px;
    &__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--contact{
    
        }
        &--mentions{
            
        }
        &--conditions{
            
        }
    }
    &__follows{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--instagram{
            display: flex;
            gap: 15px;
        }
        &--facebook{
            display: flex;
            gap: 5px;
            align-items: end;
        }
    }
}
.footer-container{
    display: flex;  
    &__h4{
        margin: 0 80px 0 30px;
    }
    &__planning{
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        &--li{
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
    }
}
.instagram-icon{
    width: 50px;
    height: 50px;
}
.facebook-icon{
    width: 75px;
    height: 75px;
    margin-left: -4%;
}
/*Ecrasement des styles imposés par Nav*/
.footer__links {
    .links {
        color: var(--color-background);
        
        &:hover {
            color: var(--color-oak-light);
        }
        
        &::after {
            background-color: transparent;
        }
        
        &.active {
            color: var(--color-oak-light);
        }
    }
}