.reveal{
    --reveal-offset: 0px;
    opacity: 0;
    transform: translateX(var(--reveal-offset));
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &--visible{
        opacity: 1;
        transform: translateY(0);
    }
    &--slide{
        --reveal-offset: -4vw;
    }
}

