.epilation-main{
    padding-top: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#photo-input{
    margin-right: 2.5vw;
}
#video-input{
    box-shadow: 1px 1px 5px rgba(95, 95, 95, 0.429);
    width: 130px;
    padding: 5px 10px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    &::file-selector-button{
            display: none;
        }
}
.media-vue{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0;
    &__input-bloc{
        width: 70vw;
        display: flex;
        flex-direction: column;
        gap: 5vw;
        &--photo{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &--video{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__btn-bloc{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 5vw;
    }
}
.epilation-section{
    width: 90%;
    padding: 5vw 0;
    background: var(--color-surface);
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__presta-bloc{
        display: flex;
        flex-direction: column;
        width: 80%;
        &--item{
           display: flex;
           justify-content: space-between;
           background: var(--color-bg);
           padding: 0 1vw;
           margin: 1vw 0;
        }
    }
    &__package-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
            &--presta-bloc{
               display: flex;
                flex-direction: column;
                width: 80%;
                &--item{
                display: flex;
                justify-content: space-between;     
                }
            }
            &--image-bloc{
                width: 100%;
                height: 100%;
                &--photo{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
}
.tanning-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__presta-bloc{
        width: 80%;
        display: flex;
        flex-direction: column;
        &--item{
            display: flex;
            justify-content: space-between;
        }
    }
    &__video-bloc{
        width: 60%;
        aspect-ratio: 4/3;
        &--video{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.item-title{

}
.item-text{
    width: 40%;
    display: flex;
    justify-content: space-between;
    &--price{

    }
    &--duration{

    }
}
@media(min-width: 768px){
    .epilation-main{
        padding-top: 12vw;
    }
    #photo-input{
        margin-right: 2.7vw;
    }
    #video-input{
        width: 140px;
    }
    .media-vue{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vw;
        &__input-bloc{
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 2vw;
            &--photo{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &--video{
                display: flex;
                justify-content: space-between;
            }
        }
        &__btn-bloc{
            width: 100%;
            justify-content: space-around;
            display: flex;
        }
    }
    .epilation-section{
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        &__presta-bloc{
            width: 30%;
            margin-left: 3vw;
            &--item{
            
            }
        }
        &__package-container{
            width: 40%;
            margin-right: 3vw;
            gap: 5vw;
            &--presta-bloc{
               display: flex;
                flex-direction: column;
                width: 80%;
                &--item{
                display: flex;
                justify-content: space-between;     
                }
            }
            &--image-bloc{
                border-radius: 5px;
                box-shadow: 1px 1px 5px;
                overflow: hidden;
                &--photo{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .tanning-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8vw;
        &__presta-bloc{
            width: 80%;
            display: flex;
            flex-direction: column;
            &--item{
                display: flex;
                justify-content: space-between;
            }
        }
        &__video-bloc{
            
        }
    }
    .item-title{

    }
    .item-text{
        width: 30%;
        display: flex;
        justify-content: space-between;
        &--price{

        }
        &--duration{

        }
    }
}
@media(min-width: 1024px){
    .epilation-main{
        padding-top: 8vw;
    }
    #photo-input{
        margin-right: 1.2vw;
    }
    #video-input{
        width: 150px;
        padding: 8px 15px;
    }
}
@media(min-width: 1440px){
    #video-input{
        width: 160px;
    }
}