.home{
    &__carrousel{
        height: 800px;
        object-fit: contain;
    }
    &__services{
        position: relative;
        z-index: 100;
        box-shadow: 0 -8px 10px -4px;
        &--link{

        }
    }
    &__company-profile{
        &--h2{
            
        }
        &--content{

        }
    }
    &__staff-profile{

    }
    &__customers-review{

    }

}
.company-carrousel-container{
   
}
.company-text{

}