.home__company-profile{
    padding: 3vw 3vw;
    margin-bottom: 8vw;
    box-shadow: 0 10px 15px -10px;
    position: relative;
    z-index: 89;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    &--h2{
        align-self: center;
        margin: 0 0 5vw 0;
    }
    &--content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}
.company-carrousel-container{
    width: auto;
    max-width: 320px;
    margin: 16px auto;
    aspect-ratio: 4 / 5;
    box-shadow: 5px 5px 8px;
    border-radius: 5px;
}
.company-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.company-text{
    width: 100%;
    margin-left: 0;
}

@media (min-width: 1024px){
    .home__company-profile{
        width: 80%;
        box-shadow: 2px 2px 5px;
        border-radius: 15px;
        background: var(--color-surface);
        align-self: center;
        &--content{
            flex-direction: row;
            align-items: normal;
            gap: 0;
            display: flex;
            justify-content: space-around;
        }
    }
    .company-carrousel-container{
        width: 500px;
        max-width: none;
        margin: 10px 0 80px 0;
    }
}
