.cares{
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__title{
        align-self: center;
    }
    &__section{
        width: 80%;
        display: flex;
        flex-direction: column;
        &--title{

        }
        &--type{
            margin: 150px 0;
        }
    }
}
.presenting{
    
}
.content-bloc{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &--reverse{
        flex-direction: row-reverse;
    }
    .prestation-list-container{
        width: 60%;
    }
    &__prestations{
        width: 100%;
        &--text{
            display: flex;
            justify-content: space-between;
            white-space: nowrap;
            width: 100%;
            &--infos{
                width: 25%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__img{
        width: 320px;
        aspect-ratio: 3/4;
    }
}

/* CSS Boite modale */
.cares-modal-labels{

}
.cares-modal-inputs{

}

/* Vue 1 */
.sous-types-vue{
    &__full-container{

    }
    .sous-types-edit-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title-label{
            width: 40%;
        }
        &__title-input{
            width: 40%;
        }
        &__btn-bloc{
            width: 90%;
            display: flex;
            justify-content: space-around;
            &--back-btn{

            }   
            &--ok-btn{

            } 
            &--modifiy-btn{

            }
        }
    }
    .sous-types-neutral-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--title{
            margin: 2vw 0 1vw 0;
        }
        &__btn-bloc{
            display: flex;
            gap: 2vw;
            margin-bottom: 1vw;
            &--title-modify-btn{
                margin-top: 1vw;
            }
            &--content-modify-btn{
                margin-top: 1vw;
            }
        }
    }
}

/* Vue 2 */
.group-vue{
    &__photo-input{
        height: 110px;
        width: 110px;
        box-shadow: 1px 1px 5px rgba(95, 95, 95, 0.429);
        border-radius: 100px;
        margin-right: 2.5vw;
        overflow: hidden;
        color: transparent;
        cursor: pointer;
        &::file-selector-button{
            border: none;
            background: var(--color-background);
            color: transparent;
            cursor: pointer;
        }
        .photo-label{
            align-self: center;
        }
    }
    &__add{
        padding-top: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--bloc{
            width: 60%;
            margin-top: 1vw;
            display: flex;
            justify-content: space-between;
            gap: 1vw;
        }
        &--btn-bloc{
            display: flex;
            justify-self: center;
            gap: 2vw;
        }
    }
    &__edit{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
        .edit-list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 3vw;
            width: 100%;
            &__edit{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1vw;
            }
            &__neutral{
                width: 100%;
                &--name{
                    margin-left: 3vw;                
                }
                &--description{
                    margin-left: 3vw;                    
                }
            }
            &__item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 60%;
                justify-self: center;
            }
            &__btn-bloc{
                width: 100%;
                display: flex;
                justify-content: space-around;
                .suppr-and-modify-btn{
                    margin-top: 1vw;
                }
            }
        }
        .edit-btn-bloc{
            display: flex;
            gap: 4vw;
            &__back-btn{

            }
            &__add-btn{

            }
        }
    }
}

/* Vue 3 */
.prestation-vue{
    &__new-add{
        padding-top: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--input-bloc{
            width: 60%;
            margin-top: 1vw;
            display: flex;
            justify-content: space-between;
            gap: 1vw;
        }
        &--btn-container{
            display: flex;
            justify-self: center;
            gap: 4vw;
        }
    }
    &__edit-and-add{
        &--btn-container{
            display: flex;
            justify-self: center;
            gap: 4vw;
        }
        .edit-and-add-container{
            &__edit-presta{
                display: flex;
                flex-direction: column;
                align-items: center;
                &--input-bloc{
                    width: 100%;
                    margin-top: 1vw;
                    display: flex;
                    justify-content: center;
                    gap: 1vw;
                }
                &--btn-bloc{
                    display: flex;
                    justify-self: center;
                    gap: 2vw;
                }
            }
            &__add-presta{
                display: flex;
                align-items: center;
                justify-content: space-around;
                &--text-bloc{
                    display: flex;
                    justify-content: space-around;
                    width: 50%;
                }
                &--modify-btn{

                }
            }
        }
    }
}

@media (min-width: 1024px){
    .group-vue{
        &__photo-input{
            height: 150px;
            width: 150px;
        }
    }
}