body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-grey-text);
}
h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 17px;
}
p,
button,
input,
textarea,
.links{
    font-size: 15px;
}
label{
    font-size: 17px;
}
.btn{
        width: 145px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background: var(--color-grey-chrome);
        box-shadow: 1px 2px 4px rgb(95, 95, 95);
        margin: 20px 0;
        align-self: center;
    }
@media (min-width: 768px){
    h1{ font-size: 32px; }
    h2{ font-size: 28px; }
    h3{ font-size: 22px; }
    h4{ font-size: 18px; }
    p, button, input, textarea { font-size: 16px; }
    .links{ font-size: 18px; }
    label{ font-size: 18px; }
    .btn{
        width: 170px;
        height: 40px;
    }
}
@media (min-width: 1024px){
    h1{ font-size: 36px; }
    h2{ font-size: 32px; }
    h3{ font-size: 24px; }
    h4{ font-size: 19px; }
    p, button, input, textarea{ font-size: 17px; }
    .links{ font-size: 22px; }
    label{ font-size: 19px; }
    .btn{
        width: 195px;
        height: 45px;
    }
}
@media (min-width: 1440px){
    h1{ font-size: 40px; }
    h2{ font-size: 36px; }
    h3{ font-size: 26px; }
    h4{ font-size: 20px; }
    p, button, input, textarea{ font-size: 18px; }
    .links{ font-size: 26px; }
    label{ font-size: 20px; }
    .btn{
        width: 220px;
        height: 50px;
    }
}