body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-grey-text);
}
h2{
    font-size: 40px;
}
.btn{
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: var(--color-grey-chrome);
    box-shadow: 1px 2px 4px rgb(95, 95, 95);
    margin: 20px 0;
    font-size: 18px;
    align-self: center;
}