:root {
    /* Neutres */
    --color-bg: #E7E4DA;
    --color-surface: #FBFAF6;
    --color-surface-glass: #FBFAF6E6;
    --color-border: #C2C4B6;

    /* Texte */
    --color-ink: #2B2F2A;
    --color-ink-soft: #6E7469;

    /* Accents */
    --color-accent: #566B52;
    --color-accent-dark: #435241;
    --color-gold: #A9803F;
}
