.footer{
    display: flex;
    flex-direction: column;
    background: var(--color-grey-text);
    color: var(--color-background);
    font-size: 15px;
    &__institut-icon{
        display: none;
        filter: brightness(0) invert(1);
    }
    &__top{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        &--info{
            display: flex;
            flex-direction: column;
        }
        &--nav{
            display: flex;
            flex-direction: column;
        }
        &--search{
            display: flex;
            flex-direction: column;
            &__input{
                border-radius: 5px;
                border: none;
                margin-bottom: 20px;
                width: 60%;
            }
        }
        .content-container-li{
            display: flex;
            justify-content: space-between;
            width: 80%;
            list-style: none;
        }
    }
    &__bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--legal{
            display: flex;
            flex-direction: column;
            align-items: center;
            .legal-links{
                font-size: 18px;
            }
        }
    }
}
.social-links-container{
    &__instagram{
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--color-background);
        text-decoration: none;
        &:hover {
            color: var(--color-oak-light);
        }
        &--icon{
            margin-left: 2px;
            width: 42px;
            height: 42px;
        }
    }
    &__facebook{
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--color-background);
        text-decoration: none;
        &:hover {
            color: var(--color-oak-light);
        }
        &--icon{
            width: 60px;
            height: 60px;
            margin-left: -3%;
        }
    }
}

/*Ecrasement des styles imposés par Nav*/
.links.footer-navlink{
    color: var(--color-background);
    &:hover {
        color: var(--color-oak-light);
    }
    &::after {
        background-color: transparent;
    }
    &.active {
        color: var(--color-oak-light);
    }
}
@media (min-width: 550px){
    .footer{
        &__top{
            width: 50%;
            &--search{
                &__input{
                    width: 100%;
                }
            }
            .content-container-li{
                width: 100%;
            }
        }
    }
}
@media (min-width: 768px){
    .footer{
        height: 83vh;
        &__institut-icon{
            display: block;
            width: 200px;
            height: 120px;
        }
        &__top{
            flex-direction: row;
            width: 100%;
            align-self: normal;
            flex: 9;
            margin-left: 0;
            & > div{
                flex: 1;
            }
            &--info{
                margin: 15px 0 0 2vw;
            }
            &--nav{
                margin: 5px 0 0 2vw;
                &__title{
                    font-size: 26px;
                }
                .footer-nav-links{
                    margin: 10px 0;
                }
            }
            &--search{
                margin: 40px 0 0 2vw;
                &__input{
                    width: 80%;
                }
            }
        .content-container-li{
            width: 90%;
        }
        }
        &__bottom{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3vw;
            flex: 1;
            &--legal{
                flex-direction: row;
                gap: 3vw;
            }
            .social-links-container{
                display: flex;
                gap: 3vw;
                margin-bottom: 5px;
            }
        }
    }
}
@media (min-width: 1024px){
    .footer{
        font-size: 17px;
        &__institut-icon{
            width: 200px;
            height: 150px;
        }
    }
}
@media (min-width: 1440px){
    .footer{
        font-size: 18px;
        &__institut-icon{
            width: 300px;
            height: 230px;
        }
        .content-container-li{
            width: 84%;
        }
    }
}
