.home{
    display: flex;
    flex-direction: column;
    &__modify-btn{
        margin: 24px auto;
    }
}

@media (min-width: 1024px){
    .home{
        &__modify-btn{
            margin: 40px auto;
        }
    }
}
